<header>
  <div class = "header-container">
    <div class="logo"></div>
    <div class = "nav-container">
      <nav>
        <ul>
          <li><a routerLink="/dashboard" routerLinkActive="active-button">Inicio</a></li>
          <li><a name="funcionarios" routerLink="/funcionarios" routerLinkActive="active-button">Funcionários</a></li>
          <li><a routerLink="/veiculos" routerLinkActive="active-button">Veículos</a></li>
          <li><a routerLink="/pneus" routerLinkActive="active-button">Pneus</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<router-outlet></router-outlet>
