<html >
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="../lista-pneus.component.css" >

    </head>
    <body>
        <div class="pageName">
            <h1>Lixeira de Pneus</h1>
        </div>

        <div class="tabelaCampos">
            <table>
                <div class="camposLixeira" >
                    <tr>
                        <td class="elementoCampo">ID</td>
                        <td class="elementoCampo">Custo</td>
                        <td class="elementoCampo">Marca</td>
                        <td class="elementoCampo">Kilometragem</td>
                        <td class="elementoCampo">Aro</td>
                        <td class="elementoCampo">Data</td>
                    </tr>
                </div>
            </table>
        </div>     
            <div class="listaPneus">
                <table *ngFor="let a of lixeira" >
                        <div class="blocoLixeiraPosition">
                            <tr name="lixeiralist">
                                <a href="http://localhost:4200/pneus/{{a.id}}">
                                    <div class="blocoLixeira">
                                            <div class="divPneuLixeiraInfo"><td class="lixeiraInfo" name="idlist">{{a.id}}</td></div>
                                            <div class="divPneuLixeiraInfo"><td class="lixeiraInfo" name="custolist">{{a.custo}}</td></div>
                                            <div class="divPneuLixeiraInfo"><td class="lixeiraInfo" name="marcalist">{{a.marca}}</td></div>
                                            <div class="divPneuLixeiraInfo"><td class="lixeiraInfo" name="arolist">{{a.kmh}}</td></div>
                                            <div class="divPneuLixeiraInfo"><td class="lixeiraInfo" name="datalist">{{a.aro}}</td></div>
                                            <div class="divPneuLixeiraInfo"><td class="lixeiraInfo" name="kmhlist">{{a.data}}</td></div> 
                                    </div> 
                                </a>
                                <div class="divButtons">
                                    <div class="divInsideDiv">
                                        <td class="hvr-icon-down">
                                            <button class="btnremoval" name="removerPermanenteButton" (click)="openDialog(a)">Excluir permanentemente
                                                <span class="fa fa-trash hvr-icon"></span>
                                            </button>
                                        </td>
                                        <td class="hvr-icon-up">
                                            <button class="btnRestore" name="restoreButton" (click)="restaurarPneu(a)" >Restaurar Pneu 
                                                <i class="fas fa-trash-restore hvr-icon"></i>
                                            </button>
                                        </td>
                                    </div>
                                </div>
                            </tr> 
                        </div>
                </table>
            </div>
            <div class="divBotaoAcessarLixeira">
                <a routerLink="/pneus" name="LixeiraPneus" routerLinkActive="active-button">  
                    <button class="btnLixeira" name="quitButton">
                        <i class="fas fa-arrow-left"></i>
                    </button>
                </a>
            </div>
    </body>
</html>