@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.btnremoval {
    border: solid;
    color: red;
    padding: 12px 16px;
    border: black;
    cursor: pointer;
    padding: 0px;
    background: transparent;
    margin-top: 4.8px;    
    margin-bottom: 4.8px;
    margin-left: 50px;
}

.blocoPosition{
    margin-left: 140px;
    width: 880px;
    margin-bottom: 6px;
    
}

.divButtons{
    text-align: center;
}

.divInsideDiv{
    width: 400px;
    margin-left: 190px;
}

.btnRestore {
    border: solid;
    color: green;
    padding: 12px 16px;
    border: black;
    cursor: pointer;
    padding: 0px;
    background: transparent;
    margin-top: 4.8px; 
    margin-bottom: 4.8px;
    margin-left: 12px;
}

.removalText{
    font-size: 10px;
}

.yesNoDiv{
    margin: auto;
}

.blocoLixeira{
    width: 930px;
    background: #8B5095;
    border-radius: 10px;
    border-style: solid;
    border-width: 2.5px;
    border-color: black;
}

.blocoLixeiraPosition{
    margin-left: 70px;
    width: 880px;
    margin-bottom: 6px;
}

.camposLixeira{
    color:white;
    width: 1000px;
    margin-left: 90px;
    margin-top: 10px;
}

.lixeiraInfo{
    padding-top: 2px;
    font-size: 16px;
    color: white;
}

.divPneuLixeiraInfo{
    display: inline-block;
    width: 140px;
    height: 8px;
    margin-left: 14px;
    margin-bottom: 14px;
    text-indent: 22px;
}