@import '~bootstrap/dist/css/bootstrap.min.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';


body {
    background-color: #362F36;
}

.pageName {
    width: 100%;
    height: 30px;   
    text-align: center;
    color: white;
    margin: 10px 0;
}

.tableAtributes {
    width: 920px;
    margin: auto;
    border-collapse: collapse;
    font-size: 14pt;
    min-width: 400px;
}

.tableAtributes tr {
    color: rgb(189, 184, 184);
    text-align: center;
    font-weight: bold;
}

.tableAtributes th{
    width: 172px;
    margin: 12px 12px;
}

.container-list {
    width: 1040px;
    margin: auto;
    height: 620px;
}


.listFuncionarios {
    width: 940px;
    height: 550px;
    margin-left: 40px;
    min-height: 550px;
    background: gray;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 5);
    display: inline-block;
}

.tableFuncionarios td {
    height: 30px;
}

.addfunc {    
    height: 40px;
    width: 40px;
    margin-top: 50px;
    display: inline-block;
    float: right;
}

.addfunc #cad {
    border-radius: 20px;
}

.tableFuncionarios {
    border-collapse: collapse;
    width: 920px;
    min-width: 400px;
    max-height: 525px;
    font-size: 12pt;
    margin: 12px 12px;
    padding: 15px 0px;
    border-radius: 10px;
    overflow: auto;
}


.tableFuncionarios td{
    display: inline-block;
    width: 172px;
    height: auto;
    margin: 10px 0px;
    padding: 0px 10px 0px 10px;
    text-align: center;
    vertical-align: middle;
}

.blockList {
    width: 920px;
    height: auto;
    background: salmon;
    margin: 2px 0;
    border-style: groove;
    border-color: black;
    border-radius: 10px 10px;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/* Botão do funcionário*/

#buttonRow {
    padding: 0;
    margin: 0;
    height: 15px;
    width: 24px;
    margin: 1px;
}

#button {
    border: none;
    background-color: salmon;
}

#img {
    width: 15px;
    height: 24px;
}

/* */

.select {
    width: 120px;
    height: 60px;
}

.align {
    text-align: center;
} 