<p>funcionario works!</p>
<body>
    <div class = "pageName">
        <h3>Lista de Funcionários</h3>
    </div>

    <div class="tableAtributes">
        <table>
                <tr>
                    <th id="nome">Nome</th>
                    <th id="cpf">CPF</th>
                    <th id="telefone">Telefone</th>
                    <th id="funcao">Função</th>
                    <th id="numVeic">Num. de Veículos</th>
                </tr>
        </table>
    </div>

    <div class="listFuncionarios">
        <div class="tableFuncionarios">

        </div>


    </div>

</body> 