body {
    background: #362F36;
    height: 535px;
    margin:0;
}

.pneu-id {
    position: relative;
    left: 35px;
    top: 26px;
    height: 70px;
    width: 450px;
}

.pneu-id-texto {
    position: relative;
    font-family: Roboto;
    color: #CFC7C7;
    top: 7px;
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
}

.pneu-id-barra {
    position: relative;
    background: #1D0435;
    top: 2px;
    width: 450px;
    height: 10px;
    border-radius: 20px;
}

#imgPneu {
    position: relative;
    left: 90px;
    top: 65px;
}

.veiculo {
    background: #160527;
    position: relative;
    height: 115px;
    top: 55px;
    width: 220px;
    left: 130px;
    border: 3px solid #000000;
    border-radius: 10px;
}

.veiculo-title {
    position: relative;
    display: inline-block;
    width: 90px;
    color: #FFFFFF;
    font-size: 22px;
    font-family: roboto;
    margin-left: 10px;
}

.veiculo-atribuicao {
    position: relative;
    height: 60px;
    width: 45px;
    top: -105px;
    left: 152px;
    align-content: center;
}

.veiculo-atribuicao > ng-template {
    color: #B40909;
}

.veiculo-atribuicao-true {
    position: relative;
    font-family: Roboto;
    top: -3px;
    height: 30px;
    width: 45px;
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    color: green;
}

.veiculo-atribuicao-false {
    position: relative;
    font-family: Roboto;
    top: -3px;
    height: 30px;
    width: 45px;
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    color: #B40909;
}

.botoes {
    position: relative;
    width: 68px;
    height: 42px;
    top: -106px;
    left: 140px;
}

.botoes > td {
    position: relative;
    display: flex;
    margin-bottom: 3px;
    align-content: center;
}

.botao-atribuir {
    position: relative;
    margin-left: 1px;
    width: 47px;
}

.atribuir {
    position: relative;
    text-align: center;
    border-radius: 10px;
    background: #5DA842;
    padding: 1px 11px;
    font-family: Roboto;
    color: #FFFFFF;
    border: 2px solid #5DA842;
    transition-duration: 0.4s;
    outline:none;
    cursor: pointer;
}

.atribuir:hover {
    background-color: #160527;
    color: #FFFFFF;
}

.atribuir:active {
    background-color: #3e8e41;
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}

.desatribuir {
    background: #861111;
    border-radius: 10px;
    font-family: Roboto;
    padding: 2px 4px;
    font-size: 12px;
    color: #FFFFFF;
    border: 2px solid #861111;
    transition-duration: 0.4s;
    outline:none;
    cursor: pointer;
}

.desatribuir:hover {
    background-color: #160527;
    color: #FFFFFF;
}

.desatribuir:active {
    background-color: #5c0f0f;
    transform: translateY(1px);
  }


.veiculo-infos {
    position: relative;
    width: 125px;
    height: 70px;
    margin-left: 5px;
    margin-top: 5px;
}

.veiculo-infos > div {
    position: relative;
    display: flex;
    background: #FFFFFF;
    height: 22px;
    width: 125px;
    margin-bottom: 3px;
    border: 3px solid #7E49B4;
    border-radius: 10px;
}

.veiculo-info > div{
    position: relative;
    width: 20px;
    display: inline-block;
    font-size: 16px;
    align-items: center;
    padding: 2px;
    top: -3px;
}

input[type=veiculo-input] {
    position: relative;
    display: inline-block;
    left: 25px;
    padding: 5px;
    width: 74px;
    border: 1px solid #CCC;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 10px;
    outline: none;
}

input[type=veiculo-input]::placeholder {
    color: #474444;
}

input[type=veiculo-input]:focus {
    border: 2px solid #b185b1;
}

.pneu-infos {
    position: relative;
    width: 500px;
    height: 350px;
    left: 700px;
    top: -435px;

    background: #8B5095;
    border-radius: 20px;
    border: 10px solid #1D0435;
}

.pneu-infos-tabela {
    position: relative;
    top: 21px;
    left: 0px;
    width: 426px;
    height: 289px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: initial;
    margin: auto;
}

.pneu-infos-campo {
    height: 46px;
    width: 190px;
}

#camposEsq { 
    margin-right: 46px;
    margin-bottom: 35px;
}

.pneu-infos-campo > div {
    background: #500997;
    height: 46px;
    border: 7px solid #1D0435;
    box-sizing: border-box;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 16px;
    align-items: center;
}

.pneu-infos-campo-div > div {
    position: relative;
    top: 6px;
    left: 7px;
    display: inline-block;
    font-size: 16px;
    align-items: center
}

.pneu-infos-campo-div > input {
    text-align: center;
    position: relative;
    justify-content: center;
    float: right;
    width: 110px;
    top: 2px;
    left: -7px;
    font-size: 14px;
    padding: 6px 10px;
    border: none;
    -webkit-transition: 0.3s;
    background: #8634d8;
    transition: 0.3s;
    border-radius: 3px;
    outline: none;
    color: #FFFFFF;
}

input[class=pneu-input]::placeholder {
    color: #dfdbdb;
}

input[class=pneu-input]:focus {
    border: 1px solid #b185b1;
}

.pneu-infos-campo-div > input[type=date]{
    font-family: arial, sans-serif;
    height: 28px;
    align-items: center;
    justify-items: left;
}

.pneu-infos-campo-div > input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    margin-left: 2px;
    margin-right: -10px;
    left: 50px;
}


.botoes-laterais {
    position: relative;
    width: 110px;
    height: 360px;
    left: 1220px;
    top: -770px;
}

.botao-lateral-cb {
    position: relative;
    top: 15px;
    height: 40px;
}

.botao-lateral-custo-beneficio {
    position: relative;
    right: 85%;
    top: 4px;
    padding: 11px 31px;
    border-radius: 10px;
    font-size: 16px;
    font-style: Roboto;
    background: #E26262;
    color: #FFFFFF;
    border: none;
    outline:none;
    transition-duration: 0.4s;
    cursor: pointer;
}

.botao-lateral-lixeira:hover {
    background-color: #f8c8c8;
    color: #5e0202;
}

.botao-lateral-lixeira:active {
    background-color: #550606;
    box-shadow: 1px 1px #666;
    transform: translateY(1px);
  }

.botao-lateral-exclua {
    position: relative;
    top: 27px;
    height: 40px;
}

.botao-lateral-excluir {
    position: relative;
    right: 31px;
    top: 4px;
    padding: 11px 31px;
    border-radius: 10px;
    font-size: 16px;
    font-style: Roboto;
    background: #D01616;
    color: #FFFFFF;
    border: none;
    outline:none;
    transition-duration: 0.4s;
    cursor: pointer;
}

.botao-lateral-excluir:hover {
    background-color: #db7878;
    color: #000000;
}

.botao-lateral-excluir:active {
    background-color: #550606;
    box-shadow: 1px 1px #666;
    transform: translateY(1px);
  }

.botao-lateral-atualize {
    position: relative;
    top: 65px;
    height: 150px;
}

.botao-lateral-atualizar {
    position: relative;
    top: 3px;
    right: 31px;
    padding: 55px 24px;
    border-radius: 20px;
    font-size: 16px;
    font-style: Roboto;
    background: #174736;
    color: #FFFFFF;
    border: 2px solid #001f12;
    outline:none;
    transition-duration: 0.4s;
    cursor: pointer;
    white-space: normal;
    word-wrap: break-word;
}

.botao-lateral-atualizar:hover {
    background-color: #477a68;
    color: #000000;
}

.botao-lateral-atualizar:active {
    background-color: #032908;
    box-shadow: 1px 1px #666;
    transform: translateY(1px);
}

.botao-lateral-adicione {
    position: relative;
    top: 78px;
    height: 45px;
}

.botao-lateral-adicionar {
    position: relative;
    left: 26px;
    top: 5px;
    padding: 4px 12px;
    border-radius: 50%;
    font-size: 32px;
    font-weight: 600;
    font-style: Roboto;
    border: 2px solid #777474;
    outline:none;
    transition-duration: 0.4s;
    cursor: pointer;
}

.botao-lateral-adicionar:hover {
    background-color: #FFFFFF;
    color: #000000;
}

.botao-lateral-adicionar:active {
    background-color: #5c0f0f;
    box-shadow: 1px 1px #666;
    transform: translateY(1px);
  }

.eventos {
    position: relative;
    width: 780px;
    height: 115px;
    left: 560px;
    top: -770px;
    border: 3px solid #000000;
    border-radius: 10px;
    background-color: rgba(124, 78, 146, 0.99);
}

.eventos-elementos {
    width: 710px;
    height: 20px;
    margin-left: 40px;
}

.elementos {
    color: #1D0435;
    font-style: normal;
    font-family: roboto;
    width: 130px;
    font-weight: 400;
    display: inline-block;
    margin-left: 1px;
    font-size: 15px;
    align-items: center;
}

.lista-eventos {
    margin: 0 auto;
    position: relative;
    width: 770px;
    height: 85px;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-button{
    color: #FFFFFF;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #3a0752; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #FFFFFF; 
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #13011b; 
}

.evento-bolinha {
    display: inline-block;
    position: relative;
    border-radius: 10px;
    font-size: 16px;
    width: 10px;
    height: 10px;
    left: 15px;
    bottom: 3px;
    background: #740505;
}

.bloco{
    position: relative;
    display: inline-block;
    width: 650px;
    left: 32px;
}


.divEvento-info{
    display: inline-block;
    height: 20px;
    width: 130px;
}

.evento-info {
    font-size: 16px;
    font-family: roboto;
    color: #FFFFFF;
    text-align: center;
}

.botao-evento {
    display: inline-block;
    position: relative;
    width: 25px;
    bottom: 4px;
    height: 25px;
    left: 30px;
    margin-left: 1px;
}

.botao-evento-remover {
    background: #F98E8E;
    height: 20px;
    width: 20px;
    color: #A70606;
    font-family: roboto;
    font-size: 12px;
    font-weight: 450;
    border: 1px solid #A70606;
    border-radius: 10px;
    outline:none;
    transition-duration: 0.4s;
    cursor: pointer;
}

.botao-evento-remover:hover{
    background: #8B5095;
    color: white;
}

.botao-evento-remover:active {
    color: #FFFFFF;
    background-color: #830505;
    box-shadow: 1px 1px #666;
    transform: translateY(1px);
}

/*///////////////////////////////////////////////////////////////*/


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal1 {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid rgb(79, 4, 122);
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(77, 1, 1);
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    font-family: Roboto;
    background-color: #1D0435;
    color: white;
}

.modal-body {
    height: 150px;
}

.modal-body-entradas {
    position: relative;
    width: 175px;
    top: 5px;
    left: 10px;
    color: black;
    font-weight: 600;
    font-family: Roboto;
}

.modal-body-entradas > input {
    background: #500997;
    border: 4px solid #1D0435;
    box-sizing: border-box;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
    outline: none;
}

#addEv {
    position: relative;
    background: rgb(115, 49, 168);
    box-sizing: border-box;
    border-radius: 20px;
    font-style: Roboto;
    color: #FFFFFF;
    border: 3px solid #000000;
    font-size: 20px;
    width: 105px;
    height: 100px;
    left: 205px;
    top: -100px;
    outline:none;
    transition-duration: 0.4s;
    cursor: pointer;
    white-space: normal;
    word-wrap: break-word;
}

#addEv:hover {
    background-color: #22033f;
    color: #ffffff;
}

#addEv:active {
    background-color: #01220f;
    box-shadow: 1 1px rgb(155, 152, 152);
    transform: translateY(2px);
}


.modal-footer {
    padding: 2px 16px;
    background-color: #1D0435;
    color: white;
}


.modal-body-entradas > input[type=date]{
    font-family: arial, sans-serif;
    height: 28px;
    align-items: center;
    justify-items: left;
}

.modal-body-entradas > input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: rgba(0, 236, 98, 0);
    left: 50px;
}

.modal-body-cb {
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.modal-body-dados {
    display: inline-block;
    justify-content: center;
    width: 50%;
    top: 5px;
    left: 10px;
    color: black;
    font-family: Roboto;
}

.modal-body-dados > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: #500997;
    height: 46px;
    margin: auto;
    margin-top: 20px;
    width: 80%;
    border: 7px solid #1D0435;
    box-sizing: border-box;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
    align-items: center;
}

.modal-body-avaliacao {
    display: inline-block;
    justify-content: center;
    width: 50%;
}

#cbResultValue {
    position: relative;
    text-align: center;
    font-weight: 500;
    margin: auto;
    margin-top: 6px;
    align-content: center;


    width: 60%;
    height: 50%;
    background: rgb(115, 49, 168);
    box-sizing: border-box;
    border-radius: 20px;
    font-style: Roboto;
    color: #FFFFFF;
    border: 3px solid #000000;
    font-size: 60px;

    outline:none;
    transition-duration: 0.4s;
    cursor: pointer;
    white-space: normal;
    word-wrap: break-word;
}

#cbResultValueLetter{
    position: relative;
    align-content: center;
    left: 27px;
}

#cbResult {
    margin: auto;

    text-align: center;

    margin-top: 6px;
    position: relative;
    width: 80%;
    height: 40%;
    border-radius: 5px;
    font-size: 16px;
    color: #fdfdfd;
    background: #1D0435;
}

#cbResult>div{
    position: relative;
    top: 4px;
    width: 100%;
    height: 40%;
}

#cbResult1 {
    margin-bottom: 4px;
}