@import '~bootstrap/dist/css/bootstrap.min.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';


body {
    background: #362f36;
}

.pageName{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabelaCampos{
    width:1060px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.listaPneus{
    width: 1060px;
    height: 600px;
    margin: 0 auto;
    border-radius: 20px;
    background: lightgrey;
    overflow: auto;
    padding-top: 6px;
}

.bloco{
    width: 780px;
    background: #8B5095;
    border-radius: 10px;
    border-style: solid;
    border-width: 2.5px;
    border-color: black;
}

.bloco:hover {
    color: black;
    background: #500997;
}

.blocoPosition{
    margin-left: 140px;
    width: 880px;
    margin-bottom: 6px;
}

.campos{
    color:white;
    width: 780px;
    margin-left: 150px;
    margin-top: 10px;
}

.elementoCampo{
    display: inline-block;
    width: 142px;
    height: 8px;
    margin-left: 13px;
    margin-bottom: 12px;
    font-size: 16px;
    padding-top: 10px;
}

.pneu-atribuicao-true{
    position: relative;
    font-family: Roboto;
    color: green;
    text-align: left;
    font-size: 17px;
    font-weight: 500;
    padding-top: 2px;
    padding-left: 22px;
}

.pneu-atribuicao-false{
    position: relative;
    font-family: Roboto;
    color: red;
    text-align: left;
    font-size: 17px;
    font-weight: 500;
    padding-top: 2px;
    padding-left: 22px;
}

.pneuInfo{
    padding-top: 2px;
    font-size: 16px;
    color: white;
}

.divPneuInfo{
    display: inline-block;
    width: 140px;
    height: 8px;
    margin-left: 14px;
    margin-bottom: 14px;
    text-indent: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-button{
    color: #666666;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #666666;
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8c8c8c;
}

.fa-trash:hover{
    color: #8B5095;
}

.fa-plus-circle:hover {
    color: #8B5095;
}

.divBotaoInserir{
    position: fixed;
    right: 10%;
}

.btn{
    border: solid;
    color: black;
    padding: 12px 16px;
    border: black;
    cursor: pointer;
    padding: 0px;
    margin-bottom: 4.8px;
    margin-left: 12px;
}

.btnLixeira{
    width: 55px;
    height: 55px;
    position: fixed;
    bottom: 16%;
    border: #362f36;
    border-radius: 100%;
    right: 9.8%;     
    border-style: solid;
    border-width: 4px;
    cursor: pointer;
    font-size: 25px;
}

.btnLixeira:hover{
    background-color:  #8B5095;
}

.modal.show{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-dialog{
    background: purple;
    border-radius: 30%;
}

.modal-content{
    width: 400px;
    height: 480px;
    background: white;
    padding: 0;
    border-radius: 2% 2% 0% 0%;
}

.modal-footer{
    background: white;
    padding: 0;
}

.closeDiv{
    position: relative;
    background: transparent;
    width: 30px;
    height: 30px;
    top: 0%;
}

.botaoClose{
    margin: auto;
    background: transparent;
    width: 30px;
    height: 30px;
    border: none;
}

.botaoClose:hover{
    color: blueviolet;
}

.modal-header{
    text-align: center;
    margin: 0;
    padding: 0;
}

.modal-title{
    width: 220px;
    height: 50px;
    margin-left: 90px;
    color: #8B5095;    
}

.modal-body{
    color: red;
}

.titlePopUp{
    margin-top: 14px;
    font-size: 22px;
}

.botaoCadastrar{
    background: #8B5095;
    background: blueviolet;
    color: white;
    height: 50px;
    width: 410px;
    border-radius: 0%;
    border-style: solid;
    border: none;
    margin-bottom: 0px;
    opacity: 1;
    position: relative;
    left: 0px;
}

.botaoCadastrar:hover{
    opacity: 0.95;
}

.linhaCadastro{
    width: 383px;
    margin-bottom: 10px;
    padding-bottom: 0px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.inputTextCadastro{
    border-radius: 0%;
    border-style: none;
    background: lightgrey;
    height: 32px;
    width: 220px;

    margin-left: 73px;
    padding-left: 10px;
}

.campoNaoPreenchido{
    font-size: 12px;
    padding-left: 4px; 
}

.btn-primary{
    color: 8B5095;
}