<html >
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    </head>
    <body>
        <div class="pageName">
            <h1>Lista de Pneus</h1>
        </div>
        <div class="tabelaCampos">
            <table>
                <div class="campos">
                    <div class="container">
                        <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
                            <i class="fas fa-search" aria-hidden="true"></i>
                            <input type="search" [(ngModel)]="filterSearch" (change)="filtroSearch()" class="form-control form-control-sm ml-3 w-75" name="searchBar" type="text" placeholder="Procurar pneu" 
                              aria-label="Search"> 
                            <button type="button" class="btn btn-secondary btn-rounded" name="buttonSearch">Pesquisar</button>
                            </form>
                    </div>
                    <tr>
                        <td class="elementoCampo">ID</td>
                        <td class="elementoCampo">Atribuído</td>
                        <td class="elementoCampo">Marca</td>
                        <td class="elementoCampo">Aro</td>
                        <td class="elementoCampo">Data</td>
                    </tr>
                </div>
            </table>
        </div>
        <div class="listaPneus">
            <table *ngFor="let a of pneusSearch">
                <div class="blocoPosition">
                    <tr name="tyrelist">
                        <a href="http://localhost:4200/pneus/{{a.id}}">
                            <div class="bloco" name="blocolist">
                                <tr class="pneus">
                                    <div class="divPneuInfo"><td class = "pneuInfo" name="idlist">{{a.id}}</td></div>
                                    <div class="divPneuInfo"><td *ngIf="pneu.atribuicao[3];else elseBlock" class="pneu-atribuicao-true" name="atribuicaolist">Sim</td><ng-template #elseBlock><td class="pneu-atribuicao-false">Não</td></ng-template></div>
                                    <div class="divPneuInfo"><td class = "pneuInfo" name="marcalist">{{a.marca}}</td></div>
                                    <div class="divPneuInfo"><td class = "pneuInfo" name="arolist">{{a.aro}}</td></div>
                                    <div class="divPneuInfo"><td class = "pneuInfo" name="datalist">{{a.data}}</td></div>
                                </tr>
                            </div>  
                        </a>
                        <td class="botaotd"><button class="btn" name="botaoRemover" (click)="deletarPneu(a.id)"><i class="fa fa-trash"></i></button></td>
                    </tr>
                </div>
            </table>
        </div>
        <div class="divBotaoInserir">
            <button class ="btn" name="botaoInserir" (click)="abrirPopup()" >
                <span style="color: white;">
                    <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
                </span>
            </button>
        </div>
        <div class="divBotaoAcessarLixeira">
            <a routerLink="/lixeirapneus" routerLinkActive="active-button">  
                <button class="btnLixeira" name="botaoLixeira">
                    <span style="color: #362f36;">
                        <i class="fa fa-trash"></i>
                    </span>
                </button>
            </a>
        </div>

        <!-- The Modal -->
    <div class="modal" id="myModal" [ngClass]="{'show': popupCadastro}">
            <div class="modal-dialog">
            <div class="modal-content">
        
                <!-- Modal Header -->
                <div class="modal-header">
                    <div class="modal-title" ><h4 class="titlePopUp">Cadastro de Pneu</h4></div>
                    <div class="closeDiv"><button type="button" class="botaoClose" (click)="fecharPopup()" >x</button></div>
                </div>
        
                <!-- Modal body -->
                <div class="modal-body">
                    <table>
                        <div class="linhaCadastro">
                            <tr>
                                <td>
                                    <input class="inputTextCadastro" (ngModelChange)="resetidDuplicado()" type="text" placeholder="ID" name="idbox" [(ngModel)]="pneu.id"/>
                                </td>
                                <td *ngIf = "checkStringNotFilled(pneu.id) && botaoCadastrarPressionado"  class="campoNaoPreenchido" >
                                        Insira o ID
                                </td> 
                                <td *ngIf = "idduplicado"  class="campoNaoPreenchido" name="duplicateId">
                                        ID já cadastrado
                                </td> 
                            </tr>
                        </div>
                        <div class="linhaCadastro">
                            <tr>
                                <td>
                                    <input class="inputTextCadastro" type="text" placeholder="Marca" name="marcabox" [(ngModel)]="pneu.marca">
                                </td>
                                <td *ngIf = "checkStringNotFilled(pneu.marca) && botaoCadastrarPressionado"  class="campoNaoPreenchido" >
                                        Insira a marca
                                </td> 
                            </tr>
                        </div>
                            <tr>
                        <div class="linhaCadastro">
                            <tr>
                                <td>
                                    <input class="inputTextCadastro" type="number" placeholder="Aro" name="arobox" [(ngModel)]="pneu.aro">
                                </td>
                                <td *ngIf = "checkNumberNotFilled(pneu.aro) && botaoCadastrarPressionado"  class="campoNaoPreenchido" >
                                        Insira o aro
                                </td>
                            </tr>
                        </div>
                        <div class="linhaCadastro">
                            <tr>
                                <td>
                                    <input class="inputTextCadastro" type="number" placeholder="Largura" name="largurabox" [(ngModel)]="pneu.largura">
                                </td>
                                <td *ngIf = "checkNumberNotFilled(pneu.largura) && botaoCadastrarPressionado"  class="campoNaoPreenchido" >
                                        Insira a largura
                                </td>
                            </tr>
                        </div>
                        <div class="linhaCadastro">
                            <tr>
                                <td>
                                    <input class="inputTextCadastro" type="number" placeholder="Custo" name="custobox" [(ngModel)]="pneu.custo">
                                </td>
                                <td *ngIf = "checkNumberNotFilled(pneu.custo) && botaoCadastrarPressionado"  class="campoNaoPreenchido" >
                                        Insira o custo
                                </td>
                            </tr>
                        </div>
                        <div class="linhaCadastro">
                            <tr>
                                <td>
                                    <input class="inputTextCadastro" type="number" placeholder="Capacidade" name="capacidadebox" [(ngModel)]="pneu.capacidade">
                                </td>
                                <td *ngIf = "checkNumberNotFilled(pneu.capacidade) && botaoCadastrarPressionado"  class="campoNaoPreenchido" >
                                        Insira a capacidade
                                </td>
                            </tr>
                        </div>
                        <div class="linhaCadastro">
                            <tr>
                                <td>
                                    <input class="inputTextCadastro" type="number" placeholder="Kilometragem" name="kmhbox" [(ngModel)]="pneu.kms">
                                </td>
                                <td *ngIf = "checkNumberNotFilled(pneu.kms) && botaoCadastrarPressionado"  class="campoNaoPreenchido" >
                                        Insira o valor para kilometragem
                                </td>
                            </tr>
                        </div>
                        <div class="linhaCadastro">
                            <tr>
                                <td>
                                    <input class="inputTextCadastro" type="number" placeholder="Treadwear" name="treadwearbox" [(ngModel)]="pneu.treadwear">
                                </td>
                                <td *ngIf = "checkNumberNotFilled(pneu.treadwear) && botaoCadastrarPressionado"  class="campoNaoPreenchido" >
                                        Insira a treadwear
                                </td>
                            </tr>
                        </div>
                        <div class="linhaCadastro">
                            <tr>
                                <td>
                                    <input class="inputTextCadastro" type="text" placeholder="Data do Pneu" name="databox" [(ngModel)]="pneu.data">
                                </td>
                                <td *ngIf = "checkStringNotFilled(pneu.data) && botaoCadastrarPressionado"  class="campoNaoPreenchido" >
                                        Insira a data
                                </td>
                            </tr>
                        </div>
                    </table>
                </div>
        
                <!-- Modal footer -->
                <div class="modal-footer">
                <button type="button" class="botaoCadastrar" (click)="adicionarPneu(pneu)" name="botaoSubmit"  data-dismiss="modal">Cadastrar</button>
                </div>
        
            </div>
            </div>
        </div>

    </body>
</html>